@inherits UmbracoViewPage<USNSourceWeb.App_Code.USNModels.USNBaseViewModel>

@using USNStarterKit.USNHelpers;

@{
    UsnglobalSettings globalSettings = (UsnglobalSettings) Model.GlobalSettings;

    if (globalSettings.Enable)
    {
        <!-- COOKIE NOTICE -->
        <div class="cookie-notice closed">
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        @if (globalSettings.CookieHeading.HasValue())
                        {
                            <p class="heading">@globalSettings.CookieHeading</p>
                        }
                        @if (globalSettings.CookieText.HasValue())
                        {
                            <div class="text">
                                @Html.Raw(globalSettings.CookieText)
                            </div>
                        }
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p class="link"><a class="btn btn-sm c1-bg c5-text accept-cookies" href="#">@globalSettings.AcceptCookiesButtonText</a>
                        </p>
                    </div>
                </div>
                <!--// ROW -->
            </div>
        </div>
        <!--// COOKIE NOTICE -->
    }
}
