@inherits UmbracoViewPage<IUsn_Cmp_Sp_Content>

@using USNStarterKit.USNHelpers;

@{    
    if (Model.MainImage != null)
    {
        <div class="spc image">
            <img class="lazyload" src="@Model.MainImage.GetCropUrl(width: 11, height: 5)" data-src="@Model.MainImage.GetCropUrl(width: 1140, height: 550)" alt="@Model.MainImageAltText" />
			
		@if (Model.MainImageCaption.HasValue())
        {
            <div class="info">
			    <div class="text">@Model.MainImageCaption</div>
            </div>
        }
		</div>           
    }
}