@inherits UmbracoViewPage<Usn_Swp_BlockquotePod>

@using USNStarterKit.USNHelpers;

@{
    <div class="item blockquote-pod">
        <blockquote>
            <p>@Html.Raw(umbraco.library.ReplaceLineBreaks(Model.Quote))</p>
            @if (Model.Cite.HasValue())
            {
                <cite>
                    <span class="who">@Model.Cite</span>
                </cite>
            }
        </blockquote>
    </div>
}