@inherits UmbracoViewPage<Usn_Sc_TextSection_AN>

@{
    string anchorId = String.Empty;

    @* Add div for column width on Advanced Pages *@
    if (!Model.Parent.Parent.IsDocumentType(UsnstandardPage.ModelTypeAlias) && !Model.Parent.Parent.IsDocumentType(UsnstandardPageBlogPost.ModelTypeAlias))
    {
        if (Model.Width == "Centered")
        {
            @:<div id="mid-col" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        }
        else
        {
            @:<div id="wide-col" class="col-xs-12">
        }
    }
    else
    {
        anchorId = "id=\"pos_" + Model.Id + "\" ";
    }

    <!-- PAGE COMPONENT TEXT -->
    <div class="spc textblock" @Html.Raw(anchorId)>
        @Html.Raw(Model.TextSection)
    </div>
    <!--// PAGE COMPONENT TEXT -->

    @* Close div for column width on Advanced Pages *@
    if (!Model.Parent.Parent.IsDocumentType(UsnstandardPage.ModelTypeAlias) && !Model.Parent.Parent.IsDocumentType(UsnstandardPageBlogPost.ModelTypeAlias))
    {
        @:</div>
    }
}